$margin: 2vh;
$padding: 2vh;
$font: Bahnschrift, sans-serif;
$colorMain: #FF4B4B;
$border-spacing: 5vh;
$flexWidth: 10vh;

.mainContainer {
  margin: $margin;
}

.topContainer {
  display: flex;
  gap: 35vh;
  margin: $margin;
  flex-direction: row;
  border-bottom: $colorMain solid 1px;
  font-family: $font;
  padding-bottom: $padding;
}

.selectContainer {
  margin: $margin;
  background-color: #ffffff;
  font-family: $font;
  flex-direction: column;
}

.adultContainer {
  display: flex;
  gap: 35vh;
  margin: $margin;
  flex-direction: row;
  border-bottom: #868282 dotted 2px;
  font-family: $font;
  padding-bottom: $padding;
}

.flexStart {
  display: flex;
  width: $flexWidth;
  margin-right: auto;
  margin-left: 0;
}

.flexCenter {
  display: flex;
  width: $flexWidth;
  margin-right: auto;
  margin-left: auto;
}

.flexEnd {
  width: $flexWidth;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.buttons{
 margin-left: 110vh;
}