@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "tickets";
@import "seats";
@import "apitest";
$highlight: #FF4B4B;
.navbar {
    font-family: Bahnschrift, sans-serif;
}

.navbar-brand {
    font-size: 40px;
}

.active {
    color: $highlight;
}